{% extends "layout.html" %}

{% block head %}
<link href="/static/styles.css" rel="stylesheet">
{% endblock %}

{% block title %} 
favorites
{% endblock %}

{% block main %} 
<div class="padding-container black">
    <table class="table text-white">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Price</th>
                <th>Categories</th>
                <th>Address</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for fav in favorites %}
                {% set name = fav["name"] %}
                {% set category = fav["category"] %}
                {% set rating = fav["rating"] %}
                {% set price = fav["price"] %}
                {% set address = fav["address"] %}
                {% set image_url = fav["image"] %}
                {% set website = fav["website"] %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ rating }}</td>
                <td>{{ price }}</td>
                <td>{{ category }}</td>
                <td>{{ address }}</td>
                <form class="p-4" action="/remove_fav" method="post">
                    <td width="10%"><button name="removed" value="{{name}}✘ {{rating}}✘ {{price}}✘ {{category}}✘ {{website}}✘ {{image_url}}✘ {{address}}" 
                        class="small-btn">-</button></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}