{% extends "layout.html" %}

{% block head %}
<link href="/static/styles.css" rel="stylesheet">
{% endblock %}

{% block title %} 
favorites
{% endblock %}

{% block main %} 
<div class="padding-container black">
    <table class="table text-white">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Price</th>
                <th>Categories</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}