{% extends "layout.html" %}

{% block head %}
<link href="/static/styles.css" rel="stylesheet">
{% endblock %}

{% block title %} 
my wishlist
{% endblock %}

{% block main %}
    <div class="black padding-container">

        {% for item in wishlist_array %}
            {% set image_url = item["image"] %}
            <div class="grey card cardsize" style="width: 15rem">
                <img src="{{image_url}}" class="card-img-top fixed-img" alt="...">
                <div class="card-body">
                <h5 class="card-title underline">{{item['name']}}</h5>
                <p class="card-text">
                    Category: {{item['category']}}<br>
                    Rating: {{item['rating']}}<br>
                    Price: {{item['price']}}
                </p>
                <a href="/" class="btn btn-light">website</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}